*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to right,#08ff90, #1ce80e );
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainbox0{
    height: 90vh;
    width: 69vw;
    position: absolute;
    box-shadow: 2px 2px 20px #1cb36a;
    z-index: -1;
}
#mainbox{
    height: 90vh;
    width: 70vw;
    background-color: white;
    box-shadow: -2px -2px 20px #1cb36a;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#boxleft{
    background: url('images/sesiu\ ads.png')no-repeat center center/cover;
    background-color:#08ff90;
}
#boxleft img{
    position: relative;
    top: 5px;
    left: 5px;
    height: 3.5rem;
    width: 13rem;
}

#boxright{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
}
.htext{
    line-height: 2rem;
}

.htext > p >a{
    color:  #0ed300;
    text-decoration: none;
}
.htext>p>a:hover{
    text-decoration: underline;
}
.htext h1{
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2rem;
}
.GFlogin{
    display: flex;
    justify-content: space-between;
    
}
.GFlogin span{
    font-size: .9rem;
    line-break: 2px;
    
}
.google{
    border: 1px solid black;
    padding: 1px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}
.google span{
    font-size: .7rem;
    letter-spacing: .5px;
}
.google img{
    height: 1.5rem;
    width: 1.5rem;
}
.facebook{
    border: 1px solid #4267B2;
    background-color: #4267B2;
    color: white;
    padding: 1px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}
.facebook img{
    width:1.5rem ;
    height:1.5rem;
    border-radius: 5px;
    padding-right: 1.2px;
    cursor: pointer;
}
.facebook span{
    font-size: .7rem;
    letter-spacing: .5px;
}

#input{
    display: flex;
    flex-direction: column;
    line-height: 1.9rem;
    

}
input{
    height: 1.8rem;
    border: 1px solid black;
    border-radius: 5px;
}
label{
    margin-top: .7rem;
    font-size: .9rem;
}
.check{
    display: flex;
    font-size: .8rem;
}
.check a{
    color:#0ed300 ;
    text-decoration: none;
}

button{
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #0ed300;
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
}
button:hover{
    background-color: #0ed300ec;
}
#input > a{
    color: rgba(0, 0, 0, 0.897);
    font-size: .9rem;
}
a:hover{
    text-decoration: underline;
}
.or{
    position: relative;
    top: 40%;
    left: 45%;
}
input:focus{
    outline: none;
    border-color:#0ed300 ;
}
@media screen and (max-width:1214px){
    .GFlogin{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:1004px){
    .or{
        display: none;
    }
}
@media screen and (max-width:869px){
   #mainbox{
       display: grid;
       grid-template-columns: 1fr;
   }
    #boxleft{
        display: none;
    }
}
@media screen and (max-width:320px){
    #boxright{
        display: flex;
        padding: .8rem;
    }
}
